@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro|Special+Elite&display=swap');

.Project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vw;
  width: 30vw;
  height: 20vh;
}
.title {
  width: 30%;
  height: 6vh; 
  margin-left: auto;
  margin: auto;
  border-radius: 12px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 2.5em;
  color: #fbd8e8;
  background-color: #ffffff;
}
.name {
  width: 110vw;
  height: 30vh;
  margin-left: 5vw;
  border-radius: 12px;
  border: solid 2px #5daecc;
  text-align: center;
  font-size: auto;
  color: #8EDDDD;
  background-color: #ffffff;
  margin-top: -10%;
}
  .ProjectImage {
   width: 15vw;
   height: 20vh;
   margin: auto;
   border-radius: 12px;
  }

.Projects {
  margin: auto;
  margin-top: 9vh;
  /* margin-left: 25vw; */
  width: 48vw;
  height: 52vh; 
  border-radius: 12px;
  background-color: #ffffff;
  opacity: .95;
  overflow-x: scroll;
}
.container {
  display: flex;
  flex-direction: row;
  width: 14vw;
  margin: auto;
  justify-content: space-around;
}
.description {
  color: #5daecc;
  font-size: 1.5vw;
  width: 90%;
  height: 22vh;
  overflow: scroll;
  margin: auto;
}
.projectLinks {
  color: #8EDDDD;
  font-size: 1.5em;
  margin: auto;
}