@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro|Special+Elite&display=swap');

.project {
  border: 1px solid #f1f1f1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 49%;
  border-radius: 12px;
  border: transparent;
}
.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: center;
  border-radius: 12px;
  padding: 4px;
}
.imgContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: solid 3px #fbd8e8;
}
.image {
  width: 23vw;
  height: auto;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
}
.info {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  overflow: hidden;
}
.infoColumn {
  width: 15vw;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
