@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro|Special+Elite&display=swap');
header {
  width: 70%;
  height: 16%;
  margin-left: auto;
  padding: 1%;
  border-radius: 12px;
  border: solid 3px #8edddd;
  background-color: #272727;
  opacity: .95;
  margin-top: 1%;
} 
h1 {
  width: 50vw;
  height: 7vh;
  margin-left: auto;
  margin: auto;
  border-radius: 12px;
  border: solid 3px #5daecc;
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 3em;
  color: #5DAECC;
  /* background-color: #ffffff; */
  /* margin-top: -1%; */
}

