header {
  width: 70%;
  height: 16%;
  margin-left: auto;
  padding: 1%;
  border-radius: 12px;
  border: solid 3px #8edddd;
  background-color: #FBD8E8;
  opacity: .95;
  margin-top: -.5%;
} 
h1 {
  width: 50%;
  height: 12vh;
  margin-left: auto;
  margin: auto;
  border-radius: 12px;
  border: solid 3px #5daecc;
  text-align: center;
  font-size: auto;
  color: #fbd8e8;
  background-color: #ffffff;
  margin-top: -1%;
}
h2 {
  width: 50%;
  height: 5vh;
  margin-left: auto;
  margin: auto;
  border-radius: 12px;
  text-align: center;
  font-size: auto;
  color: #8edddd;
  opacity: 0.90;
  margin-top: -5%;
}
