body {
  background: url('../assets/portfolioBG.png') no-repeat center center fixed;
  background-size: cover;
  width: auto;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 600px) and (min-width: 300px) {
  body {
    background: url('../assets/background.png') no-repeat center center fixed;
    background-size: cover;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}
@media screen and (max-width: 1050px) and (min-width: 601px) {
  body {
    background: url('../assets/background.png') no-repeat center center fixed;
    background-size: cover;
    width: auto;
    height: auto;
    overflow: hidden;
  }
}
