@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro|Special+Elite&display=swap');
.tabbar{
  width: 50vw;
  height: 40vh;
  margin: auto;
  margin-top: 10vh;
  justify-content: space-between;
  .tabs {
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 1vh;
    .tabs:active {
      opacity: .2;
    }
    .name {
      border: solid 2px #aaaaaa;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom: white;
      background-color: white;
      font-family: 'Special Elite', cursive;
      .name:active {
        background-color: white;
        color: orange;
      }
      .view {
        .panel{
          background-color: orange;
        }
      }
    }
  }
}



