.Sidebar {
  margin-top: -8.5%;
  margin-right: auto;
  width: 25%;
  height: 97vh;
  border-radius: 12px;
  border: solid 3px #8edddd;
  background-color: #FBD8E8;
  opacity: .95;
}
img {
  width: 90%;
  height: auto;
  margin-left: 4%;
  border-radius: 12px;
  padding: 5px;
}
h3 {
  background-color: #ffffff;
  border-radius: 12px;
  border: solid 2px #fbd8e8;
  text-align: center;
  font-size: auto;
  color: #8edddd;
  width: 45%;
  height: 4%;
  margin: auto;
  padding: 1%;
}
.about {
  margin: auto;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  font-size: auto;
  color: #8edddd;
  width: 45%;
}
.links {
  margin: auto;
  background-color: #ffffff;
  border-radius: 12px;
  width: 35%;
  img {
    margin: auto;
    width: 35%;
    height: auto;
  }
}
