@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro|Special+Elite&display=swap');
.Sidebar {
  background-image: url('../../assets/background.png');
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  /* text-align: center; */
  position: static;
  height: 45vh;
  width: 48vw;
  border-radius: 12px;
  overflow: hidden;
}
.content {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  
}
.about {
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: left;
  font-family: 'Special Elite', cursive;
  font-size: auto;
  color: #8edddd;
  width: 22vw;
  overflow: scroll;
  opacity: .96;
  padding: 6px;
}
.connect {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-end;
  text-align: center;
  width: 60vw;
  height: 10vh;
  opacity: .9;
}
.links {
  flex-wrap: nowrap;
  background-color: #8edddd;
  border-radius: 12px;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  width: 48vw;
  height: 8vh;
  img {
    width: 3vw;
    height: auto;
    padding-top: 1%;
    padding-right: 5%;
    /* padding-bottom: 1%; */
    padding-left: 5%;
  }
}
